#  General 
.DS_Store
Thumbs.db
*.log
*.swp
*.swo

# Python: Bytecode and virtualenvs 
__pycache__/
*.py[cod]
env/
.venv/
ENV/
env.bak/
venv.bak/

# Python: Packaging and build 
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST
*.pyd
*.pyo
*.so
*.whl

# Flask: Secrets, instance files, databases 
.env
instance/*
!instance/.gitkeep

# Ignore SQLite and DB files globally, but allow data folder
*.sqlite3
*.db
!app/data/
!app/data/*.csv
!app/data/*.db

#Flask: Migration cache
.mypy_cache/
.pytest_cache/
.dmypy.json
.pyre/
.pytype/

#  Flask: Migration tooling 
migrations/__pycache__/
migrations/versions/__pycache__/

#  Frontend (Vite + React) 
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vite/
frontend/.eslintcache
frontend/.cache/

#  Editors / IDEs 
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

#  Miscellaneous tooling 
.pdm.toml
.ruff_cache/
.pypirc
